@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

header h1 {
    text-align: center;
}

.mapa { 
    height: 820px; 
}

.leaflet-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.geocoder-control-input {
    border-radius: 10px;
    outline: none;
    background-color: rgb(255, 255, 255);
    height: 22px;
    padding-left: 10px;
}

.geocoder-control-suggestions {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 25px;
}

/* menú hamburguesa */
.menu-icon {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    border-radius: 5px;
}

/* menú desplegable */
#controls {
    position: absolute;
    top: 130px;
    right: 75px;
    width: 200px;
    background-color: #f4f4f4;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    z-index: 999;
}

#controls.visible {
    transform: scaleY(1);
}

#controls h2 {
    margin: 0;
    padding: 8px 0px;
    text-align: center;
    align-items: center;
}

#event-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* filtrar por fechas */
.date-filter {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.date-filter .end {
    padding-left: 30px;
}
.event-type {
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
}

.btn-buscar {
    margin-left: 40px;
    border: none;
    border-radius: 10px;
    padding: 8px 25px;
    font-weight: 700;
    background-color: #7acbeb;
    cursor: pointer;
}

.btn-buscar:hover {
    color: rgb(78, 78, 78);
}

input[type="checkbox"] {
    margin-right: 5px;
}

.event-type:hover {
    background-color: #e1e1e1;
    border-radius: 5px;
}
